@{

    Layout = null;

}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>OK</title>

    <style>
        p {
            color: white;
            font-size: 16px;
            background-color: #669;
            padding-left: 10px;
            width: 150px;
        }

        a {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            font-size: 14px;
            color: #669;
            text-decoration: none;
        }
    </style>

</head>

<body>

    <div>

        <p>Изменения приняты</p>

        @Html.ActionLink("На главную", "Index")

    </div>

</body>

</html>
